<div class="page-header">
    <h1>{{ 'Events'|trans({}, 'EluceoEventBundle') }}</h1>
</div>

<section class="events">

    {% for ed in pagination %}
        <article class="event">
            <header>
                <h2>{{ ed.event.name }}</h2>
                <h3>{{ ed.startDatetime|date }}</h3>
            </header>

            <p>
                {{ ed.event.shortDescription }}
            </p>

            <h3>{{ 'categories'|trans({}, 'EluceoEventBundle') }}</h3>
            <ul>
                {% for c in ed.event.categories %}
                    <li>
                        <a href="{{ event_category_url(c) }}">
                            {{ c.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <p>
                <a href="{{ event_date_url(ed) }}">
                    {{ 'show_event'|trans({}, 'EluceoEventBundle') }}
                </a>
            </p>
        </article>
    {% endfor %}

    <div class="pagination">
        {{ pagination.render()|raw }}
    </div>

</section>